# PyTorch with CUDA 11.8 support
--index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple

torch
torchvision

# Core scientific and data libraries
numpy
pandas
pyarrow
scikit-learn
matplotlib
tensorboard
torchdiffeq
transformers
